[Desktop Entry]
Encoding=UTF-8
Name=Isotope
Comment=Isotope P2P Cryptocurrency
Comment[fr]=Isotope, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Isotope, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Isotope-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Isotope;
Categories=Office;
